#
# This file is manager by Ansible
#

# WebLogic boot file properties

username={{ oracle_wlst_create_domain_info.adminuser.username }}
password={{ oracle_wlst_create_domain_info.adminuser.password }}
