#
# New domain params
#

domain_name = '{{ weblogic_domain_name }}'
middleware_home = '{{ oracle_weblogic_oracle_home }}'
weblogic_home = '{{ oracle_weblogic_wls_home }}'
domain_application_home = '{{ oracle_wlst_create_domain_domains_home }}/{{ weblogic_domain_name }}'
domain_configuration_home = '{{ oracle_wlst_create_domain_domains_home }}/{{ weblogic_domain_name }}'
node_manager_home = '{{ oracle_wlst_create_domain_domains_home }}/{{ weblogic_domain_name }}/nodemanagers/{{ weblogic_domain_name }}'
weblogic_template = weblogic_home + '/common/templates/wls/wls.jar';

# Load the default domain template
readTemplate(weblogic_template);
setOption('DomainName', domain_name);
setOption('OverwriteDomain', 'true');
setOption('ServerStartMode', 'prod');
setOption('NodeManagerType', 'CustomLocationNodeManager');
setOption('NodeManagerHome', node_manager_home);

cd('/Security/base_domain/User/weblogic');
cmo.setName('{{ oracle_wlst_create_domain_info.adminuser.username }}');
cmo.setUserPassword('{{ oracle_wlst_create_domain_info.adminuser.password }}');
cmo.setPassword('{{ oracle_wlst_create_domain_info.adminuser.password }}');

cd('/');

print "Save domain";
writeDomain(domain_configuration_home);
closeTemplate();

print 'Read domain ';
readDomain(domain_configuration_home);

setOption('AppDir', domain_application_home);

#
# Connect to oracle DB and create a repository
#
# TODO

cd("/SecurityConfiguration/" + domain_name);
cmo.setNodeManagerUsername('{{ oracle_wlst_create_domain_info.adminuser.username }}');
cmo.setNodeManagerPasswordEncrypted('{{ oracle_wlst_create_domain_info.adminuser.password }}');

cd('/Server/AdminServer');
create('AdminServer','SSL');

cd('SSL/AdminServer');
set('Enabled', 'True');
set('ListenPort', 7002);
cmo.setHostnameVerificationIgnored(true);
cmo.setHostnameVerifier(None);
cmo.setTwoWaySSLEnabled(false);
cmo.setClientCertificateEnforced(false);

cd('/SecurityConfiguration/'+ domain_name +'/Realms/myrealm');
cd('AuthenticationProviders/DefaultAuthenticator');
set('ControlFlag', 'SUFFICIENT');
cd('../../');

print "Update domain";
updateDomain();
closeDomain();
