# Set AdminServer connection URL
ADMIN_SERVER_URL = 't3://' + '{{ ec2_ip_address }}' + ':' + '{{ oracle_wlst_create_domain_info.adminserver.listen_port }}';

# Connect to the AdminServer
connect('{{ oracle_wlst_create_domain_info.adminuser.username }}', '{{ oracle_wlst_create_domain_info.adminuser.password }}', ADMIN_SERVER_URL);

# Start editing mode
edit();
startEdit();

# Declare the machine that hosts the Managed Server
cd('/')
cmo.createMachine('{{ ansible_fqdn }}')

# Configure the nodemanager for that machine
cd('/Machines/' + '{{ ansible_fqdn }}' + '/NodeManager/' + '{{ ansible_fqdn }}')
cmo.setListenAddress('{{ oracle_wlst_create_domain_info.adminserver.listen_address }}')

# Create the Managed Server
cd('/')
cmo.createServer('{{ weblogic_managed_server_name }}')

# Setup the managed Server configurations
cd('/Servers/' + '{{ weblogic_managed_server_name }}')
cmo.setListenAddress('{{ ansible_fqdn }}')
cmo.setListenPort({{ oracle_wlst_create_domain_info.managedserver.listen_port }})

# Assign the Managed server to the hosting machine (create a sort of dependencie relation)
cmo.setMachine(getMBean('/Machines/' + '{{ ansible_fqdn }}'))

# Save changes
save();
activate(block='true');

# Log out from AdminServer
disconnect();
exit();
