#
# This file is managed by Ansible
#

[Unit]
Description=WebLogic Server NodeManager
After=network.target

[Service]
User={{ oracle_weblogic_user }}
Group={{ oracle_weblogic_group }}
Type=simple
ExecStart={{ weblogic_domain_home }}/bin/startNodeManager.sh > /dev/null 2>&1 &
ExecStop={{ weblogic_domain_home }}/bin/stopNodeManager.sh > /dev/null 2>&1 &
PIDFile={{ weblogic_nodemanager_home }}/nodemanager.process.id
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
