#
# This file is manager by Ansible
#

# Nodemanager properties

DomainsFile={{ weblogic_nodemanager_home }}/nodemanager.domains
LogLimit=0
PropertiesVersion={{ weblogic_version }}
AuthenticationEnabled=true
NodeManagerHome={{ weblogic_nodemanager_home }}
LogLevel=INFO
DomainsFileEnabled=true
StartScriptName=startWebLogic.sh
ListenAddress={{ oracle_wlst_create_domain_info.nodemanager.listen_address }}
NativeVersionEnabled=true
ListenPort={{ oracle_wlst_create_domain_info.nodemanager.listen_port }}
LogToStderr=true
SecureListener=false
LogCount=1
StopScriptEnabled=false
QuitEnabled=false
LogAppend=true
StateCheckInterval=500
CrashRecoveryEnabled=false
StartScriptEnabled=true
LogFile={{ weblogic_nodemanager_home }}/nodemanager.log
LogFormatter=weblogic.nodemanager.server.LogFormatter
ListenBacklog=50
