# Connect to the AdminServer
connect('{{ oracle_wlst_create_domain_info.adminuser.username }}', '{{ oracle_wlst_create_domain_info.adminuser.password }}');

# Start the Managed Server
start('{{ weblogic_managed_server_name }}', block='false');

# Disconnect from AdminServer
disconnect();
exit();
