nmConnect('{{ oracle_wlst_create_domain_info.adminuser.username }}', '{{ oracle_wlst_create_domain_info.adminuser.password }}', '{{ oracle_wlst_create_domain_info.adminserver.listen_address }}', '{{ oracle_wlst_create_domain_info.adminserver.listen_port }}', '{{ weblogic_domain_name }}');

nmStart('AdminServer');

nmDisconnect();
